.sidebar {
  flex: 1;
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  min-height: 100vh;
  background-color: white;
  padding: 20px;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #004280;
    }
  }

  hr {
    border: 0.5px solid rgba(200, 200, 200, 0.5);
    margin: 20px 0;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #004280;
          margin-right: 10px;
        }

        span {
            font-size: 14px;
            font-weight: 600;
            color: #888;
        }
      }
    }
  }

  .bottom {
      display: flex;
      align-items: center;
      margin: 10px;

      .colorOption {
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid #004280;
          cursor: pointer;
          margin: 5px;
          transition: all 0.3s ease-in-out;

          &:nth-child(1) {
            background-color: whitesmoke;
          }
          &:nth-child(2) {
            background-color: #333;
          }
          &:nth-child(3) {
            background-color: darkblue;
          }

          &:hover {
            transform: scale(1.1);
          }
      }
  }
}
